{% extends 'base.html.twig' %} {% block title %}Developpeur {% endblock %} {%
    block body %}
    <h1>Developper</h1>
    
    <div class="container show">
      <div class="row">
            <div class="col">
              <p>
                <h3> Name</h3>
                {{ developper.name}}
              </p>
              <p>
                <h3> Email</h3>
                {{ developper.email }}
              </p>
              <p><h3> Phone Number</h3>
               {# {{ developper.phone_number }} #}
              </p>
              <p>
               <h3> Skills</h3>
               {{ developper.skills }}
              </p>
              <p>
               <h3> Roles</h3>
                {{ developper.roles ? developper.roles|json_encode : '' }}
               
              </p>
              <p>
               <h3> Hire Date</h3>
                 {{ developper.hireDate ? developper.hireDate|date('Y-m-d') : '' }}
              </p>
          </div>
          <div class="col">
            <img
              style="width: 400px; border-radius: 50%;"
              src="{{ asset('uploads/images/'~ developper.photo) }}"
              alt="..."/>
          </div>
        </div>
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col"> 
                    <a class="btn btn-outline-info" href="{{ path('app_home') }}"
                      >back to list</a
                    >
                </div>
                <div class="col">
                    <a class="btn btn-outline-info"href="{{ path('app_developper_edit', { id: developper.id }) }}">edit</a>
                </div>
                <div class="col">
    
                    {{ include("developper/_delete_form.html.twig") }}
    
                </div>
            </div>
    
        </div>
    </div>
    {% endblock %}
    