{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %}
<h1 class="text-center my-4">Register</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6" style="background-color: rgba(233, 219, 235, 0.938)">
      {{ form_start(registrationCustomerForm) }}
      <div class="row">
        <div class="col">
          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.name) }}
            {{ form_widget(registrationCustomerForm.name, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.name) }}
          </div>

          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.lastname) }}
            {{ form_widget(registrationCustomerForm.lastname, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.lastname) }}
          </div>

          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.email) }}
            {{ form_widget(registrationCustomerForm.email, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.email) }}
          </div>
          <div class="form-group mb-3">
        {{ form_label(registrationCustomerForm.plainPassword) }}
        <div class="input-group">
          {{ form_widget(registrationCustomerForm.plainPassword, {'attr': {'class': 'form-control', 'type': 'password', 'id': 'passwordField'
          }}) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <svg
                id="togglePassword"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="25"
                fill="currentColor"
                class="bi bi-eye-slash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"
                />
                <path
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"
                />
                <path
                  d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"
                />
              </svg>
            </div>
          </div>
        </div>
        {{ form_errors(registrationCustomerForm.plainPassword) }}
      </div>

        </div>
        <div class="col">
          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.photo) }}
            {{ form_widget(registrationCustomerForm.photo, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.photo) }}
          </div>
          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.phone_number) }}
            {{ form_widget(registrationCustomerForm.phone_number, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.phone_number) }}
          </div>
          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.entreprise) }}
            {{ form_widget(registrationCustomerForm.entreprise, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.entreprise) }}
          </div>
          <div class="form-group mb-3">
            {{ form_label(registrationCustomerForm.address) }}
            {{ form_widget(registrationCustomerForm.address, {'attr': {'class': 'form-control'
            }}) }}
            {{ form_errors(registrationCustomerForm.address) }}
          </div>
        </div>
      </div>

      <div class="form-check mb-3">
        {{ form_widget(registrationCustomerForm.agreeTerms, {'attr': {'class': 'form-check-input'
        }}) }}
        {{ form_label(registrationCustomerForm.agreeTerms, null, {'attr': {'class': 'form-check-label'
        }}) }}
        {{ form_errors(registrationCustomerForm.agreeTerms) }}
      </div>

      <button type="submit" class="btn btn-primary w-100">Register</button>

      {{ form_end(registrationCustomerForm) }}
    </div>
  </div>
</div>

<script src="{{ asset('public/js/jquery-3.7.1.js') }}"></script>
<script>
  $(document).ready(function () {
    const passwordField = document.getElementById("passwordField");
    const togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {
      const type = passwordField.type === "password" ? "text" : "password";
      passwordField.type = type;

      // Toggle the eye / eye-slash icon
      this.classList.toggle("bi-eye");
      this.classList.toggle("bi-eye-slash");
    });
  });
</script>

{% endblock %}
