<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    {% include 'layouts/togglePassword.html.twig' %}
  </head>
  <body>
    <h1 class="text-center my-4">Register</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-6"
          style="background-color: rgba(233, 219, 235, 0.938)"
        >
          {{ form_start(registrationDevForm) }}
          <div class="row">
            <div class="col">
              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.name) }}
                {{ form_widget(registrationDevForm.name, {'attr': {'class': 'form-control'


                }}) }}
                {{ form_errors(registrationDevForm.name) }}
              </div>

              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.lastname) }}
                {{ form_widget(registrationDevForm.lastname, {'attr': {'class': 'form-control'

                }}) }}
                {{ form_errors(registrationDevForm.lastname) }}
              </div>
              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.email) }}
                {{ form_widget(registrationDevForm.email, {'attr': {'class': 'form-control'


                }}) }}
                {{ form_errors(registrationDevForm.email) }}
              </div>
              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.photo) }}
                {{ form_widget(registrationDevForm.photo, {'attr': {'class': ''

                }}) }}
                {{ form_errors(registrationDevForm.photo) }}
              </div>
            </div>
            <div class="col">
              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.address) }}
                {{ form_widget(registrationDevForm.address, {'attr': {'class': 'form-control'


                }}) }}
                {{ form_errors(registrationDevForm.address) }}
              </div>
              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.phone_number) }}
                {{ form_widget(registrationDevForm.phone_number, {'attr': {'class': 'form-control'


                }}) }}
                {{ form_errors(registrationDevForm.phone_number) }}
              </div>
              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.skills) }}
                {{ form_widget(registrationDevForm.skills, {'attr': {'class': 'form-control'


                }}) }}
                {{ form_errors(registrationDevForm.skills) }}
              </div>

              <div class="form-group mb-3">
                {{ form_label(registrationDevForm.plainPassword) }}
                <div class="input-group">
                  {{ form_widget(registrationDevForm.plainPassword, {'attr': {'class': 'form-control', 'type': 'password', 'id': 'passwordField'

                  }}) }}
                  <div class="input-group-append">
                    <span
                      class="input-group-text"
                      id="togglePassword"
                      style="cursor: pointer"
                    >
                      <i id="toggleIcon" class="fa fa-eye"></i>
                    </span>
                  </div>
                </div>

                {{ form_errors(registrationDevForm.plainPassword) }}
              </div>
            </div>
          </div>
          <div class="form-check mb-3">
            {{ form_widget(registrationDevForm.agreeTerms, {'attr': {'class': 'form-check-input'


            }}) }}
            {{ form_label(registrationDevForm.agreeTerms, null, {'attr': {'class': 'form-check-label'


            }}) }}
            {{ form_errors(registrationDevForm.agreeTerms) }}
          </div>
          <div class="row">
            <div class="col">
              <a
                href="{{ path('app_home') }}"
                class="btn btn-outline-primary w-100"
                >Back to home</a
              >
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary w-100">
                Register
              </button>
            </div>
          </div>

          {{ form_end(registrationDevForm) }}
        </div>
      </div>
    </div>
  </body>
</html>
