<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-link">
          <a class="dropdown-item" href="{{path('app_display_user')}}">Community</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ADMIN
          </a>
          {# role de l'administrateur general #}
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href=""
                >Projects</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a
                class="dropdown-item"
                href=""
                >Technologys</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a
                class="dropdown-item"
                href=""
                >Developpers</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href=""
                >Customers</a
              >
            </li>
          </ul>
        </li>
        {% if app.user == false %}
        <li class="nav-link">
          <a class="dropdown-item" href="{{path('app_login')}}">Login</a>
        </li>
       {# ********************************************************* #}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Register
          </a>
         
          <ul class="dropdown-menu">
		<li class="nav-item"><a class="nav-link" href="{{path('app_register_customer')}}">Customer</a></li>
		<li class="nav-item"><a class="nav-link" href="{{path('app_register_developper')}}">Developper</a></li>
          </ul>
        </li>
		{% else %}
        <li class="nav-link">
          <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
        </li>
        <li class="nav-link">
          <div class="mb-3">
			{# ajout d'une image si l'utilisateur se connecter #}
   {% if app.user %}
    <a class="dropdown-item" href="{{ path('app_user_profile', {'id': app.user.id}) }}">
        {% if app.user.photo %}
            <img src="{{ asset('uploads/images/' ~ app.user.photo) }}" style="width: 20px; border-radius: 50%;">
        {% endif %}
        {{ app.user.name }}
    </a>
{% endif %}

			<div>
      <li class="nav-link">
      </li>
          {% endif %}
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          Rechercher
        </button>
      </form>
    </div>
  </div>
</nav>
