{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Customer index</h1>
    <div class="row">
        {% for customer in customers %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ customer.name }} {{ customer.lastname }}</h5>
                        <p class="card-text">
                            <strong>Email:</strong> {{ customer.email }}<br>
                            <strong>Address:</strong> {{ customer.address }}<br>
                            <strong>Confirmation date:</strong style="font-style: oblique;">  
                                {{ customer.Date ? customer.Date|date('Y-m-d') : '' }}
            
                            <br>
                            <strong>Roles:</strong> {{ customer.roles ? customer.roles|json_encode : '' }}<br>
                             {% if customer.photo %}
                                <img src="{{ asset('uploads/images/' ~ customer.photo) }}" class="img-fluid rounded" alt="Photo of {{ customer.name }}" style="width: 300px; margin-left: 40px;">
                            {% else %}
                                No photo available
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
            <a href="{{ path('app_user_edit_role', {'id': customer.id}) }}" class="btn btn-secondary mt-3">Add Role</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No records found
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
