{% extends 'base.html.twig' %} {% block title %}Developpeur index{% endblock %}
{% block body %}
<h1>Developpeur index</h1>
<div class="container">
  <div class="row">
    {% for user in users %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h4>Id</h4>
              <p>{{ user.id }}</p>
            </div>
            <div class="col-6">
              <h4>Name</h4>
              <p>{{ user.name }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <h4>Photo</h4>
              <img
                src="{{ asset('uploads/images/' ~ user.photo) }}"
                alt="..."
                style="width: 100%"
              />
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <h4>Skills</h4>
                  <p>{{ user.lastname }}</p>
                </div>
    
              <div class="row">
                <div class="col-6">
                  <h4>Email</h4>
                  <p>{{ user.email }}</p>
                </div>
                <div class="col-6">
                  <h4>Role</h4>
                  <p>
                    {{ user.roles ? user.roles|json_encode : '' }}
                  </p>
                </div>
              </div>
              {# <div class="row">
                <div class="col-6">
                  <h4>Hire date</h4>
                  <p>
                    {{ user.hireDate ? user.hireDate|date('Y-m-d') : '' }}
                  </p>
                </div>
              </div>
            </div> #}
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <a
                href="{{
                  path('app_user_show', { id: user.id })
                }}"
                class="btn btn-primary"
                >Show</a
              >
            </div>
            <div class="col-6">
              <a
                href="{{
                  path('app_user_edit', { id: user.id })
                }}"
                class="btn btn-secondary"
                >Edit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% if users is empty %}
    <div class="col-12">
      <p>No records found</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
